snippet _e "Underscore each" i
_.each(${1:collection}, function(${2:obj}${4:, ${3:key}}) {
	${VISUAL}
});
endsnippet

snippet _i "Index by" i
var ${4:$1Index} =_.indexBy(${1:collection}, ${2:'${3:key}'});
endxnippet
